/* general rules */

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* utility  */

.flex {

    display: flex;

}

/* header rules  */

header {

    background-color: #0084fd;

}

nav {

    justify-content: space-between;
    align-items: center;
    min-height: 74px;
    max-width: 1150px;
    margin: 0 auto;
    
}

ul {

    list-style: none;

}

li a {

    text-decoration: none;
    color: white;
    margin-left: 34px;

}

#burger {

    display: none;
    color: white;
    font-size: 23px;
}

/* main rules  */

    /* main section  */

.main {

    max-width: 1150px;
    margin:52px auto 102px;
    flex-wrap: wrap;

}

.square {

    background-color: #b5ddff;
    margin: 24px 11px 0;

    /* DEBUG */
    height: 348px;
    max-width: calc(100% / 3  - 26px);

}

.big {

    max-width: calc(100% / 3 * 2  - 26px);

}

    /* plans section  */

.plan {

    background-color: #9792e4;

}

.plan_container {

    max-width: 936px;
    margin: 0 auto;
    padding: 134px 0 62px;
}

.plan_container_square {

    max-width: 50%;
    margin: 0 32px;

}

.flex-bot {

    align-self:flex-end ;
    background-color: white;

}

    /* Testimonial Section  */

.testimonial {

    max-width: 1140px;
    margin: 70px auto 112px;

}    

.testimonial_square {

    background-color: #9792e4;    

}

.testimonial div {

    margin: 30px 42px 0;

}

    /* Benefit Section  */

.benefit {

    background-color: #9792e4; 

}    

.benefit_container {

    max-width: 1140px;
    margin: 0 auto;
    padding: 76px 0 62px;
    flex-wrap: wrap;

}

.benefit_container_square {

    max-width: calc(100% / 3 - 30px);
    margin: 30px 15px 0;

}

    /* about us section  */

.about {

    max-width: 1040px;
    margin: 0 auto;
    padding: 90px 0 120px;

}    

.about article {

    max-width: 75%;
    margin-right: 90px ;

}

.about article, .about div {

    margin: 0 42px;

}

    /* <!-- cta section --> */

.cta {

    background-color: #9792e4 ;
 
}

.cta_container {

    max-width: 644px;
    margin: 0 auto;
    padding: 68px 40px;

}

/* footer  */

footer {

    background-color: #333333;

}

footer div {

    max-width: 440px;
    margin: 0 auto;
    padding: 44px 36px;

}

/* SMALL PC Rules */

@media screen and (max-width:1180px) {

    /* header  */

    nav.flex {

        margin: 0 32px;

    }

    /* main */

        /* main section */

    .main {

        margin:52px 28px 102px;

    }
   
}

/* TABLET Rules */

@media screen and (max-width:810px) {

    /* header */

    ul.flex {

        display: none;

    }
    
    #burger{

        display: block;

    }

    /* main  */

        /* plans section  */

    .plan_container.flex {

        display: block;

    }

    .plan_container_square {

        max-width: 100%;
        margin-bottom: 42px;
    }   

        /* benefit section  */

    .benefit_container_square {

        max-width: calc(100% / 2 - 30px);

    }        


 
}

/* SMARTPHONE Rules  */

@media screen and (max-width:430px) {

    /* Main Rules */

        /* Main Section  */

    .square,.big {

        max-width: 100%;
        margin: 0 34px 24px;

    }

        /* benefit section  */

    .benefit_container_square {

        max-width: calc(100% - 30px);

    }   

        /* about us section  */

    .about {

    flex-wrap: wrap;

    }
    
    .about div {

        margin-top: 62px;

    }


}